/*google translate Dropdown */
#google_translate_element select {
  background: #f9c262;
  color: #313f67;
  border: 3px solid #313f67;
  border-radius: 5px;
  padding: 0 5px;
  position: fixed;
  bottom: 16px;
  right: 20px;
  width: 150px;
  height: 40px;
}

/*google translate link | logo */
.goog-logo-link,
.goog-te-gadget span,
div#goog-gt- {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
  font-size: 0;
}

/* google translate banner-frame */

.goog-te-banner-frame {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

body {
  top: 0 !important;
}

body > .skiptranslate {
  display: none !important;
  height: 0;
}
.goog-te-gadget {
  height: 0;
}
