.header {
   width: 100%;
   height: 100vh;
   background-color: blueviolet;
   background-image: url(../gambar/pasir.png);
}
.header .bunga-2 {
   display: none;
}
.header .thumb {
   display: block;
   width: 150px;
   margin: 0 auto 10vh;
}
.header article {
   text-align: center;
   color: white;
}
.header article p{
   font-size: 40px;
   font-weight: 700;
}
.header article h1{
   font-size: 50px;
   font-weight: 700;
}
/* Handphone */
@media screen and (max-width : 500px) {
   .header {
      width: 100%;
      background-color: #313f67;
      height: 125vh;
   }
   .header .thumb {
      margin: -100px auto 0;
   }
   .header .bunga-2 {
      display: block;
      width: 100%;
      margin: -25vh auto 0;
   }
}