.header {
   width: 100%;
   height: 100vh;
   background-color: blueviolet;
   background-image: url(../gambar/pasir.png);
}
.header .bunga-1 {
   display: block;
   position: relative;
   width: 500px;
   margin: auto;
   top: 50%;
}
.header .bunga {
   display: flex;
   width: 100%;
   justify-content: space-between;
}
.header .bunga-1.kiri{
   margin-left: -200px;
   transform: rotate(90deg);
}
.header .bunga-1.kanan {
   margin-right: -200px;
   transform: rotate(90deg) scaleY(-1);
}
.header .bunga-2 {
   display: none;
}
.header .thumb {
   display: block;
   width: 150px;
   margin: -50vh auto 10vh;
}
.header article {
   text-align: center;
   color: white;
}
.header article p{
   font-size: 40px;
   font-weight: 700;
}
.header article h1{
   font-size: 50px;
   font-weight: 700;
}
/* Handphone */
@media screen and (max-width : 500px) {
   .header {
      width: 100%;
      background-color: #313f67;
      height: 125vh;
   }
   .header .thumb {
      margin: -100px auto 0;
   }
   .header .bunga-1 {
      display: none;
   }
   .header .bunga-2 {
      display: block;
      width: 100%;
      margin: -25vh auto 0;
   }
}