.lagu {
   display: flex;
   align-items: center;
   justify-content: center;
  background: #f9c262;
  color: #313f67;
  border: 3px solid #313f67;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-family: itim;
}
.lagu i{
  padding: 8px;
}
