* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary: blueviolet;
  --pink: #ffc0cb;
  --aqua: #ccf7ff;
}
html {
  scroll-behavior: smooth;
}
.pink {
  background-color: #ffc0cb !important;
}
.blue-light {
  background-color: #ccf7ff !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.divider-wave {
  mask-image: url(../gambar/square.svg), url(../gambar/divider-wave.svg);
  -webkit-mask-image: url(../gambar/square.svg), url(../gambar/divider-wave.svg);
}
.divider-triangle-up {
  mask-image: url(../gambar/square.svg), url(../gambar/divider-triangle-up.svg);
  -webkit-mask-image: url(../gambar/square.svg),
    url(../gambar/divider-triangle-up.svg);
}
.divider-triangle-down {
  mask-image: url(../gambar/square.svg),
    url(../gambar/divider-triangle-down.svg);
  -webkit-mask-image: url(../gambar/square.svg),
    url(../gambar/divider-triangle-down.svg);
}
.has-divider {
  background-color: #fff;
  mask-size: cover, 100% 50px;
  mask-position: top center;
  mask-repeat: no-repeat;
  mask-composite: source-out;
  -webkit-mask-size: cover, 100% 50px;
  -webkit-mask-position: top center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: source-out;
  margin-top: -50px;
}
@font-face {
  font-family: itim;
  src: url(../font/Itim-Regular.ttf);
}
@font-face {
  font-family: overlock;
  src: url(../font/Overlock-Regular.ttf);
}
